body{
    background-color: rgb(23, 24, 24);
}

.input{
    height: 20px;
    margin-left: 310px;
    margin-bottom: 120px;
    border-radius: 12px;
    border: #fffefe solid 2px;
    
}

.upload{
    /* margin-left: 310px;
    margin-bottom: 120px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.chart{
    background-color: aliceblue;
    margin-top: -60px;
    width: 1200px;
    height: 360px;
    margin-left: 310px;
    border-radius: 12px;

}

h2{
    color: #fffefe;
    font-size: 50px;
    text-align: center;
    margin-left: 272px;
    margin-top: -193px;
    
}

.apexcharts-tooltip.custom-tooltip {
  color: black !important;
}

.apexcharts-tooltip.custom-tooltip .apexcharts-tooltip-title {
  background: white !important;
  color: black !important;
  font-weight: 600;
}

.apexcharts-menu {
  background: #ffffff !important;
  color: #000000 !important;
  font-weight: 500;
}

.apexcharts-menu-item {
  color: #000000 !important;
}

.apexcharts-menu-item:hover {
  background-color: #f0f0f0 !important;
}
